<h2 class="text-center page-title">Sign up</h2>

<div class="container">
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-row">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", wrapper: {class: "col-md-6 col-sm-12"} %>
    <%= f.email_field :email, autocomplete: "email", wrapper: {class: "col-md-6 col-sm-12"} %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-row justify-content-between px-1">
    <%= f.submit "Sign up", class: "btn btn-info" %>
    
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
