<li class="nav-item active">
    <%= link_to 'Home', root_path, class:"nav-link" %><span class="sr-only">(current)</span>
</li>
<li class="nav-item">
        <%= link_to 'Activity', activities_path, class:"nav-link" %>
      </li>
<li class="nav-item dropdown">
    <a id="user-settings" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
        <span id="user-name"><%= current_user.name %></span>
    </a>

    <div class="dropdown-menu" aria-labelledby="user-name">
        <%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
    </div>
</li>