
<h2 class="text-center page-title">Log in</h2>

<div class="container">
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

     <div class="form-row">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", wrapper: {class: "offset-md-3 col-md-6 col-sm-12 "} %>
    </div>
    

    <div class="form-row">
      <%= f.password_field :password, autocomplete: "current-password", wrapper: {class: "offset-md-3 col-md-6 col-sm-12"} %>
    </div>

    
    <% if devise_mapping.rememberable? %>
      <div class="form-row">
        <div class="form-group offset-md-3 col-md-6 col-sm-12">
          <%= f.check_box :remember_me %>
    <% end %>
        <%= f.submit "Log in", class: "btn btn-block btn-info mt-2" %>
        </div>
    </div>  
  <% end %>
    <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
      <%= render "devise/shared/links" %>
      </div>
    </div>
</div>