<% @categories.each do |category| %>
    <%#= link_to next_wizard_path do %>
        <div class="card col-sm-6 col-md-3 categories" id="<%= category.id %>">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= category.name %></h5>       
                <input type="hidden" name="<%= category.name %>" value="<%= category.id %>">                
            </div>
        </div> 
    <%# end %>    
    <% end %>


<%= form_with(model: @activity, id: 'category_form', url: wizard_path, method: :put) do |form| %>
<p>

</p>
    <%= form.label :category_id, "category" %><br>
    <%= form.number_field :category_id %>
    <%= form.submit %>
<% end %>
