<% exercises = ['', 'Running', 'Walking', 'Cycling', 'Swimming', 'Elliptical', 'Rowing', 
'Circuit training', 'HIIT Training', 'Weight training', 'Core training'] %>

<div class="container">
<div class="row justify-content-center">
<h1>Activity log</h1>
</div>

<div class="row">
<%= link_to 'New Entry', activities_path, method: :post %>
 
<table>
  <tr>
    <th>Exercise</th>
    <th>Date</th>
    <th>Duration</th>
    <th></th>
  </tr>
 
  <% @activities.each do |activity| %>
    <% if current_user == activity.user %>
      <tr>
        <td><%#= @categories.activity.category_id %><%= exercises[activity.category_id] %></td>
        <td><%= activity.date %></td>
        <td><%= activity.duration %> minutes</td>
        <td><%= link_to 'Show', activity_path(activity) %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity_path(activity),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

</div>
</div>