<% exercises = ['', 'Running', 'Walking', 'Cycling', 'Swimming', 'Elliptical', 'Rowing', 
'Circuit training', 'HIIT Training', 'Weight training', 'Core training'] %>

<div class="container">
  <div class="row text-center">
    <h1 class="w-100">Activity log</h1>
  </div>

<div class="row justify-content-center">

<% @activities.each do |activity| %>
    <% if current_user == activity.user %>
      <div class="card col-sm-12 col-md-3 activities text-white bg-info p-0" id="<%= activity.category_id %>">
        <div class="card-header text-center"><%= activity.date %></div>
        
        <div class="card-body text-center">
          <h4 class="card-title"><%= exercises[activity.category_id] %></h4>
          <p class="card-text"><%= activity.duration %> minutes</p>
        </div>
        
        <div class="card-footer text-center">
          <%= link_to 'Edit', edit_activity_path(activity), class: "card-link" %>
          <%= link_to 'Destroy', activity_path(activity),
            method: :delete,
            class: "card-link",
            data: { confirm: 'Are you sure?' } %>
        </div>

      </div>
        
    
    <% end %>
  <% end %>

</div>
 <%= link_to 'New Entry', categories_path, method: :get %>
</div>