<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation/navigation' %>

    <%# if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# these links needed for form but taking up space on page even when not rendered%>
    <%# end %>
    
    <%= yield %>


    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
